
<div class="container">
  <div class="jumbotron text-center">
      <h1>Burger Choice</h1>
  </div>

  <div class="row">
    <div class="col-sm-6">
  <h3 class="text-center" style="background-color:green; color: #fff; ">Edible</h3>
   </br>
   <ul class="b">
        {{#each burgers}}
        {{#unless devoured}}
         <li id="font">   
         
               {{this.id}}.
               {{this.name}}
  
            <form action="/{{id}}" method="POST">
           <button type="submit" class="button btn btn-warning">Choose</button>
           </form>

               </li>
         {{/unless}}
         {{/each}}
  </ul>
</div>
  
  <div class="col-sm-6">
<h3 class="text-center" style="background-color:red; color: #fff; ">Consumed</h3>
</br>
  <ul class="b">
        {{#each burgers}}
        {{#if devoured}}
             <li id="font">
           
               {{this.id}}.
               {{this.name}}</li>
         {{/if}}
         {{/each}}
  </ul>
</div>
</div>
</br>

<div id="add-burgers">
<h2>Add a burger</h2>
 <form class="update form-inline" action="/" method="POST">
  <div class="form-group">
    <label for="burgers">Burger Name: </label>
    <input type="text" id="name" name="name">
  </div>

  {{!-- <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Yes.<br>
    <input type="radio" name="devoured" value="0"> No.
  </div> --}}

  <button type="submit">Submit</button>
</form>
</br>
</br>
</br>

</div>

</div>
</div>